header {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .08);
  position:relative;
  .header-row {
    display: flex;
    align-items: center;
  }

  .logo-container {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-container {
    height: 100%;
    margin-left: auto;
    > ul {
      display: flex;

      > li {
        > a {
          font-size: 14px;
          padding: 25px 20px;
          display: block;
          color: #696969;
          text-transform: uppercase;
          transition: all .1s linear;

          &:hover {
            color: #F9AA4A;
          }
        }
      }
    }
  }

  .hamburger-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    .header-row {
      justify-content: space-between;
    }

    .nav-container {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      height:auto;
      >ul{
        flex-direction: column;
        >li{
          width:100%;
          >a{
            border-bottom:1px solid rgba(0,0,0,0.05);
            padding:10px 20px;
            text-align: center;
          }
        }
      }
    }

    .hamburger-icon {
      display: block;
      width: 25px;
      height: 25px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      span {
        height: 3px;
        width: 100%;
        background: #F9AA4A;
        display: block;
        position: absolute;
        left: 0;
        border-radius: 10px;

        &:nth-child(1) {
          top: 25%;
          transform: translateY(-25%);
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
          width: 75%;
        }

        &:nth-child(3) {
          bottom: 25%;
          //transform: translateY(-75%);
        }

      }
    }
  }
}

body.nav-open header .nav-container{
  display:block;
}

@media screen and (max-width: 426px) {
  header {
    .logo-container {
      width: 100px;
    }
  }
}
