<header>
    <div class="header-container container">

            <div class="header-row">
                <div class="logo-container">
                    <a href="">
                        <img src="https://organie.thememove.com/wp-content/themes/tm-organie/assets/images/logo_01.png" alt="">
                    </a>
                </div>


                <a href="" class="hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <nav class="nav-container">
                    <ul class="menu">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>


    </div>

</header>
