@import "variables";
@import "mixins";

.vertical-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%align-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

%hightlight--white{
  background: $pure-white;
  opacity:0.9;
  color:black;
}
%hightlight--green{
  background: $accent;
  opacity: 0.8;
  color: $pure-white;
  text-transform: uppercase;
  letter-spacing: 1px;
}


//text center using display table
%center{
  display:table!important;
  margin-right: auto;
  margin-left:auto;
}

%capital{
  text-transform: capitalize;

}
%upper{
  text-transform:uppercase;

}
%flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.flex,%flex{
  display:flex;
  align-items:center;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  color: #212121;

  @extend %capital;
  display:block;
  padding:5px 0;
  padding-bottom: 0;
  font-weight: normal;
  //color:#222;
  padding-top:20px;
  @media screen and (max-width:768px){
    font-size:15px;
  }
}

.sub-title{
  font-style: italic;
  font-size: 14px;
  color: #878787;
  font-weight: normal;
  margin-top: 0;
  display: block;
  margin-top:5px;
}

%shadow-box{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

%hover-box{
  z-index: 50;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 7px 17px 0 rgba(23,84,116,0.18);

}


input[type="checkbox"]{
  //height:15px;
  //width: 15px;
  //margin-right:5px;
  //margin-top:-5px;

}
%visible{
  opacity:1;
  visibility: visible;
}
%invisible{
  opacity:0;
  visibility: hidden;
}


.link{
  color: #295d97;
  font-weight: 400;
  //&:hover{
  //  color:$yellow!important;
  //}
}

.arrow-down {
  position: relative;
  &:after {
    content: "";
    height: 6px;
    width: 6px;
    display: block;
    position: absolute;
    right: -12px;
    top: 25%;
    border: 1.5px solid #ffffff;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    transform: rotate(-45deg)
  }
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:black;
  opacity: 0.3;

}

.line-clamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.border-bottom{
  border-bottom:1px solid $pure-black;
  padding:10px;
  margin-bottom:10px!important;
}

.flex-row{
  display:flex;
  flex-wrap:wrap;
}

.my-container {
  //width: 85%;
  //margin: 0 auto;
  max-width: 1280px;
  margin: 0 auto;
  width: 94%;
}

.twitter:hover{color:#55acee}
.googleplus:hover{color:#dd4b39}
.facebook:hover{color:#3b5999}
.linkedin:hover{color:#0077B5}

.social-icons{
  a{
    color: #d4d4d4;
    font-size: 2em;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }
}
