.liststyle--none{
  list-style: none;
  padding:0;
  margin:0;
}

.underline--none{
  text-decoration:none;
}
.btn__rad--none{
  border-radius: 0;
  &:focus,&:active,&:hover{
    outline:none;
  }
}

//colors for aaxim
$d-green:#50b849;
$l-green:#bfd630;
$a-blue:#0063d1;
$a-red:#e14546;
$a-grey:#f9f9f9;
$a-but:#ed7745;

//colors for cake

$black:#303133;
$more-black:#282923;
$yellow:#fdb822;
$brown:#684f40;


$pure-black:#000000;
$pure-white:#ffffff;
$tb:lighten($pure-black,40%);




$red:#f30002;
$blue:#242C41;
$green:#00aa01;
$primary:#f8b40e;
$accent:#88fc0a;
$orange:#ff3800;


$green:#2ECC71;

$grey:#f4f4f4;

//card section
$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);



