html{
  font-size: 1rem;
}
body{
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

ul{
  list-style: none;
  padding:0;
  margin:0;
}

a{
  text-decoration: none !important;
  color:$pure-black;
}
img{
  height:100%;
  width:100%;
}

//slider overwrite
.owl-theme .owl-nav {
  margin-top: 0;
}

