//owl button
.owl-prev,.owl-next{
  position:absolute;
  top:-10%;
  font-size:16px;
  //height: 40px;
  //width: 40px;
}
.owl-prev{
  right:25px;
}
.owl-next{
  right:5px;
}
.owl-dots{
  margin-top: 0!important;
}

.owl-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-description{
  .owl-prev,.owl-next{
    position:absolute;
    top:50%;
    color: $yellow!important;
    transform:translateY(-50%);
    font-size:12px;
    font-weight: 100;
    background:rgba(255,255,255,0.2);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid $yellow;
  }
  .owl-prev{
    left:5px;
  }
  .owl-next{
    right:5px;
  }
}

.round-product{
  .owl-prev,.owl-next{
    position:absolute;
    top:50%;
    color: #FF6F61!important;
    transform:translateY(-50%);
    font-size:20px;
    font-weight: 100;
    background:white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.2);
  }
  .owl-prev{
    left:-25px;
  }
  .owl-next{
    right:-25px;
  }
}
.customers-testimonials{
  .owl-prev,.owl-next{
    position:absolute;
    top:50%;
    color: #333333!important;
    transform:translateY(-50%);
    font-size:12px;
    font-weight: 100;
    background:rgba(255,255,255,0.2);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pure-white;
  }
  .owl-prev{
    left:5px!important;
  }
  .owl-next{
    right:5px!important;
  }
}
